{% macro flash_messages() %}
    {% set messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set icons = {
            "info": "info-fill",
            "primary": "info-fill",
            "success": "check-circle-fill",
            "warning": "exclamation-triangle-fill",
            "danger": "exclamation-triangle-fill"
        } %}

        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show d-flex align-items-center mt-2 mb-0" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="{{ category | capitalize }}:"><use xlink:href="#{{ icons[category] }}"/></svg>
                <div>
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}