{%- extends "base.html" %}

{% block content %}
    <iframe id="print"></iframe>

    <!-- Formulário -->
    <form class="needs-validation" novalidate>
        <div class="row g-4 mt-0">
            <!-- Informações pessoais -->
            <div class="col-md-12">
                <div class="card shadow-sm border-0 p-3 h-100">
                    <h5 class="mb-3">Informações pessoais</h5>

                    <div class="row g-3 p-0">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" id="name" class="form-control" placeholder="Nome" autocomplete="off" required>
                                <label for="name"><span class="text-danger">*</span>Nome</label>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-floating">
                                <input type="text" id="surname" class="form-control" placeholder="Sobrenome"
                                    autocomplete="off" required>
                                <label for="surname"><span class="text-danger">*</span>Sobrenome</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating">
                                <input type="text" id="document" class="form-control" placeholder="CPF/CNPJ"
                                    autocomplete="off" data-inputmask="'mask': ['999.999.999-99','99.999.999/9999-99']"
                                    pattern="\d{3}\.\d{3}\.\d{3}-\d{2}$|\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}$" required>
                                <label for="document"><span class="text-danger">*</span>CPF/CNPJ</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------- -->

            <!-- Endereço de correspondência -->
            <div class="col-md-12">
                <div class="card shadow-sm border-0 p-3">
                    <h5 class="mb-3">Endereço de correspondência</h5>

                    <div class="row g-3 p-0">
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="text" id="zip-code" class="form-control address" placeholder="CEP"
                                    minlength="9" maxlength="9" autocomplete="off" inputmode="numeric" required>
                                <label for="zip-code">CEP</label>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-floating">
                                <input type="text" id="street" class="form-control address" placeholder="Logradouro"
                                    autocomplete="off" required>
                                <label for="street">Logradouro</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="text" id="number" class="form-control address" placeholder="Número"
                                    autocomplete="off" inputmode="numeric">
                                <label for="number">Número</label>
                            </div>
                        </div>

                        <!-- ---- -->
                        <div class="col-md-5">
                            <div class="form-floating">
                                <input type="text" id="complement" class="form-control address" placeholder="Complemento"
                                    autocomplete="off">
                                <label for="complement">Complemento</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating">
                                <input type="text" id="neighborhood" class="form-control address" placeholder="Bairro"
                                    autocomplete="off" required>
                                <label for="neighborhood">Bairro</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating">
                                <input type="text" id="city" class="form-control address" placeholder="Cidade"
                                    autocomplete="off" required>
                                <label for="city">Cidade</label>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-floating">
                                <input list="state-list" type="text" id="state" class="form-control address"
                                    placeholder="UF" autocomplete="off" required>
                                <label for="state">UF</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------- -->

            <div class="col-md-3">
                <button type="submit" class="btn btn-secondary">Gerar PDF</button>
            </div>
        </div>
    </form>

    <!-- Data List -->
    <datalist id="state-list">
        <option value="AC">
        <option value="AL">
        <option value="AM">
        <option value="AP">
        <option value="BA">
        <option value="CE">
        <option value="DF">
        <option value="ES">
        <option value="GO">
        <option value="MA">
        <option value="MG">
        <option value="MS">
        <option value="MT">
        <option value="PA">
        <option value="PB">
        <option value="PE">
        <option value="PI">
        <option value="PR">
        <option value="RJ">
        <option value="RN">
        <option value="RO">
        <option value="RR">
        <option value="RS">
        <option value="SC">
        <option value="SE">
        <option value="SP">
        <option value="TO">
    </datalist>
{%- endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/polyfills.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bwip-js@4.0.0/dist/bwip-js-min.js"></script>
    <script src="https://cdn.statically.io/gh/RobinHerbots/Inputmask/5.0.7/dist/inputmask.min.js"></script>
    <script src="{{url_for('static', filename='js/abandon-font.js')}}"></script>
    <script src="{{url_for('static', filename='js/trebuc-font.js')}}"></script>
    <script src="{{url_for('static', filename='js/arial-font.js')}}"></script>
    <script src="{{url_for('static', filename='js/address.js')}}"></script>
    <script src="{{url_for('static', filename='js/jsPDF-api.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script defer>
        (() => {
            'use strict'

            const forms = document.querySelectorAll('.needs-validation')

            Array.from(forms).forEach((form) => {
                form.addEventListener("submit", (event) => {
                    event.preventDefault();
                    event.stopPropagation();

                    form.classList.add("was-validated");

                    if (!form.checkValidity()) return;

                    container.classList.add("show-loader");

                    const data = {};

                    document.querySelectorAll("input[id]").forEach((input) => data[input.id.camelCase()] = input.value);

                    setTimeout(() => {
                        generateAr(data)
                            .then((msg) => {
                                form.classList.remove("was-validated");
                                {# form.reset(); #}

                                alerty(msg);
                            })
                            .catch((msg) => error("Erro na requisição!", msg))
                            .finally(() => {
                                container.classList.remove("show-loader");
                            });
                    }, 50);
                }, false)
            })
        })();

        const example = {
            "name": "Joaquim",
            "document": "84588236164",
            "surname": "Manoel da Silva",
            "zip-code": "71937-720",
            "street": "Quadra 202",
            "number": "100",
            "complement": "",
            "neighborhood": "Sul (Águas Claras)",
            "city": "Brasília",
            "state": "DF"
        };

        for (const key in example)
            document.getElementById(key).value = example[key];

        example.zipCode = example["zip-code"];

        const alerty = (message, _class = "success") => {
            const span = document.querySelector(".container > span");
            const icons = {
                info: "info-fill",
                primary: "info-fill",
                success: "check-circle-fill",
                warning: "exclamation-triangle-fill",
                danger: "exclamation-triangle-fill"
            };

            const template = `<div class="alert alert-${_class} alert-dismissible fade show d-flex align-items-center mt-2 mb-0" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="${_class}:"><use xlink:href="#${icons[_class]}"></use></svg>
                <div>
                    ${message}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>`;

            const html = document.createElement("div");

            html.innerHTML = template;

            span.insertAdjacentElement("afterend", html);

            setTimeout(() => html.querySelector("button").click(), 5000);
        };

        const error = (title, message) => {
            const modal = new bootstrap.Modal(".modal");
            const element = modal._element;

            element.querySelector(".modal-title").innerHTML = title;
            element.querySelector(".modal-body p").innerHTML = message.replace(/\n/g, "<br/>");

            modal.show();
        };

        const span = document.createElement("span");

        span.classList.add("text-danger");
        span.innerText = "*";

        document.querySelectorAll("[required]").forEach((e) => {
            const label = document.querySelector(`[for=${e.id}]`);

            if (label.querySelector("span.text-danger"))
                return;

            label.innerHTML = `${span.outerHTML}${label.innerHTML}`;
        });

        Inputmask().mask(document.getElementById("document"));
    </script>
{%- endblock %}